/* ==============Footer section styling ends=============== */

footer {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, .8)), url(/root/assets/images/technicians/footer.webp);
    background-position: center;
    background-size: cover;
    padding: 2.5rem 0;
}

.footer-text p {
    font-size: 1.05rem;
    color: #fff;
    margin-top: 2rem;
    font-weight: 300;
}

footer .social-media-icons {
    margin-top: 1.8rem;
}

footer .social-media-icons i {
    color: #fff;
    font-size: 1.1rem;
}

footer .social-media-icons i {
    margin-left: 1rem;
}

footer .social-media-icons i.footer-linkedin {
    margin-left: 0;
}

.quick-links h3,
.footer-contact-us h3,
.newsletter h3 {
    font-size: 1.2rem;
    color: #fff;
    font-weight: 400;
}

.footer-links {
    margin-top: 2rem;
}

.footer-links li {
    margin-top: 16px;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}

.footer-contact-links {
    margin-top: 2rem;
}

.mail-link {
    margin-top: .6rem;
}

.phone-link a,
.mail-link a {
    color: #fff;
    font-weight: 300;
}

.footer-mailbox {
    margin-top: 2rem;
}

.footer-input {
    display: flex;
    align-items: center;
}

.footer-mailbox input[type="tel"] {
    width: 12rem;
    height: 2.5rem;
    border: 0;
    background-color: #fff;
    outline: none;
    border-radius: 3px 0 0 3px;
    padding-left: 6px;
}

.footer-mailbox input[type="submit"] {
    width: 4.5rem;
    height: 2.5rem;
    border: 0;
    background-color: var(--primary-color);
    color: #fff;
    font-family: 'Josefin sans';
    font-weight: 300;
    border-radius: 0 3px 3px 0;
}


/* =============media queries for tablets and ipads============= */

@media (min-width: 768px) and (max-width: 992px) {}


/* ==============Media queries for mobile phones landscape mode============== */

@media (min-width: 576px) and (max-width: 767px) {
    .footer-mailbox input[type="tel"] {
        width: 7.2rem;
        height: 2.5rem;
    }
    .footer-mailbox input[type="submit"] {
        width: 5rem;
        height: 2.5rem;
    }
}

@media (max-width: 575px) {
    footer {
        padding: 1.8rem 1.8rem 8rem 1.8rem;
    }
    .quick-links,
    .footer-contact-us,
    .newsletter {
        margin-top: 2.5rem;
    }
    .footer-links,
    .footer-contact-links,
    .footer-mailbox {
        margin-top: 10px;
    }
}