/*============ Importing google fonts ==============*/

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100,300;400;700&display=swap');

/* =============Colors Variable declaration============= */

 :root {
    --primary-color: #004976;
    --secondary-color: #004976;
    --gray-color: #949A97;
    --btn-color: #004976;
    --nav-btn: #FF623A;
    --primary-btn-color: #cc292e;
    --secondary-btn-color: #FBCC0A;
}


/*============ General Styling ============*/

html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* transition: .3s ease; */
}

body {
    font-family: 'Josefin Sans';
    overflow-x: hidden;
}

h1 {
    font-weight: 700;
    margin: 0;
}

h2 {
    font-weight: 300;
}

h3,
h4,
h5 {
    font-weight: 300;
    margin: 0;
}

ul,
li,
p,
a {
    margin: 0;
    list-style: none;
    text-decoration: none;
}

a {
    text-decoration: none!important;
}

.carousel-control-next,
.carousel-control-prev {
    position: unset;
    z-index: 1;
    width: unset;
    padding: 0;
    opacity: 1!important;
}

.carousel-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.carousel-btn button:nth-child(1) {
    margin-right: 10px;
}

.carousel-btn button:nth-child(2) {
    margin-left: 10px;
}

.carousel-btn i {
    font-size: 16px;
    color: #000;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--primary-color);
    border-radius: 4px;
}


/* =================Utility classes================== */

.underline {
    font-size: 2.5rem;
    position: relative;
    text-align: center;
}

.underline::after {
    content: '';
    width: 6rem;
    height: 2px;
    background-color: var(--primary-color);
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.margin-top {
    margin-top: 4.5rem;
}

.content-margin-top {
    margin-top: 4rem;
}


/* ================Banner section styling starts================== */

.banner-section {
    height: 70vh;
    background-image: linear-gradient(to right, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(/root/assets/images/technicians/services.jpeg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.banner-section-heading {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin: 0 auto;
}

.banner-section-heading h1 {
    font-size: 2.8rem;
    color: #fff;
}

.banner-section-heading p {
    font-size: 1.05rem;
    color: #fff;
    text-align: center;
    margin-top: 1.8rem;
}

.link {
    margin-top: 1.5rem;
    color: #fff;
}

.link a {
    text-decoration: none;
    color: #fff;
}


/* ================Banner section styling ends================== */


/* ================Services section styling start================== */


/* .our-services-section {
    background-color: #eeeeea;
} */

.our-services-section {
    margin-bottom: 40px;
}

.our-services-heading p {
    text-align: center;
    margin-top: 1.8rem;
    font-weight: 400;
    font-size: 1.2rem;
}

.service-card {
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 6px;
}

.service-card-img img {
    width: 100%;
}

.service-card-heading h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1.25rem;
    color: #000;
}

.service-card-description p {
    font-size: 1.05rem;
    font-weight: 400;
    color: #000;
    margin-top: .5rem;
}

.services-cards-second-row {
    margin-top: 1.76rem;
}


/* ================Services section styling ends================== */


/* ================Media queries for tablet ipadsj portrait mode================== */

@media (min-width: 768px) and (max-width: 992px) {
    html {
        font-size: 13px;
    }
    .banner-section {
        height: 40vh;
    }
    .banner-section-heading {
        width: 60%;
    }
}


/* ================Media queries for mobile phones landscape mode================== */

@media (min-width: 575px) and (max-width: 767px) {
    html {
        font-size: 10px;
    }
}


/* ================Media queries for small devices mobile phones=============== */

@media (max-width: 575px) {
    html {
        font-size: 13px;
    }
    .banner-section-heading {
        width: 80%;
    }
    .side-padding {
        padding: 0 20px;
    }
    .services-cards-second-row {
        margin-top: 0;
    }
    .service-card {
        margin-top: 35px;
    }
    .content-margin-top {
        margin-top: 0;
    }
}